# Dependencies
node_modules
.pnp
.pnp.js

# Testing
coverage

# Production
dist
build
.next
out

# Misc
.turbo
.git
.gitignore
*.hd
.DS_Store
*.pem
*.log

# IDE
.vscode
.idea
*.swp
*.swo
*~

# Environment
.env
.env.local
.env.*.local
